$loading-font-size: 22px;

@import 'meteoric_ionic-sass/_ionic';
@import 'meteoric_ionicons-sass/_ionicons';


@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-Italic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

.contact-detail {
  background: $stable;
}

body * {
  font-family: Quicksand;
}
