{
  "TWILIO": {
    "FROM": "",
    "SID": "",
    "TOKEN": ""
  },

 "FACEBOOK": {
    "APP_ID": "",
    "SECRET": ""
  },

 "public": {
    "facebook": {
      "permissions": [
        "public_profile",
        "email",
        "user_friends"
      ]
    }
  }

}
