/* Colors */
$white:      #fff;
$light-blue: #4e98cf;
$dark-blue:  #4873a7;
$purple:     #5a5386;
$light-teal: #38cfd6;
$pale-green: #e0fdfd;
$beige:      #f5f3e6;
$gold:       #fcd534;

.onboarding-continue {
  background-color: $dark-blue;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;


  .content {
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 60px 30px;
    position: absolute;
    color: white;
  }

  .top-bar {
    background-color: transparent;
    padding: 5px 0;
    height: 30px;
  }

}
