@import "{app-design-elements}/colors.import.less";

.onboarding-continue, .onboarding-get-phone, .onboarding-verify-phone, .onboarding-facebook, .onboarding-profile {
  background-color: @dark-blue;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

  .content {
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 60px 30px;
    position: absolute;
    color: white;
  }

  .top-bar {
    background-color: transparent;
    padding: 5px 0;
    height: 30px;
  }

  .fields .field {
    text-align: center;
  }

    input[name=phone] {
      width: 150px;
    }

    input[name=code] {
      width: 100px;
    }

    .ui.inverted.button {
    box-shadow: none !important;
        border: solid 1px;
    background: transparent none;
    color: #ffffff;
    text-shadow: none !important;
    width: 75%;
    height: 10%;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin: 1em 0em 6em 0em;
        border-radius: 0px;
    font-weight: 400;
  }

  h1:first-child {
    margin-top: 1em;
}

  h1 {
    min-height: 1em;
    font-size: 3.5em;
    font-weight: normal;
    margin: 1em;
}


p {
    margin: 0em 0em 1em;
    line-height: 1.7em;
    font-size: 1.2em;
    letter-spacing: .04em;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
}

.ui.icon.button {
   box-shadow: none !important;
        border: solid 1px;
    background: transparent none;
    color: #ffffff;
    text-shadow: none !important;
    width: 75%;
    height: 10%;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin: 1em 0em 6em 0em;
        border-radius: 0px;
    font-weight: 400;
}

.ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="url"] {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    
    padding: 18px;
    font-size: 1.8em;
    background: white;
    border-radius: 0px;
    box-shadow: none;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    max-width: 75%;
    text-align: center;
}

.ui.form > p {
    margin: 1em 3em 1em;
}




