
/* Colors */
$white:      #fff;
$light-blue: #4e98cf;
$dark-blue:  #4873a7;
$purple:     #5a5386;
$light-teal: #38cfd6;
$pale-green: #e0fdfd;
$beige:      #f5f3e6;
$gold:       #fcd534;

.content {
  background-color: $beige;
}

.card.list.quiz-question-card {
  color: white;
  z-index: 1;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 55px 30px 110px 30px;

  border-radius: 10px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .quiz-question {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
  }

 .quiz-answer {
   text-align: center;
   font-size: 1.8em;
   
    

   &.item:hover, &.col:hover { color: $gold; }
 }



 .item {
   background-color: transparent;
   border: 0;
 }

 &.binary {
   .question-icon {
    margin: 38px auto 38px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 170px;
    width: 170px;
    border-radius: 100px;
   }

   .item-body {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     margin-bottom: 30px;
   }
 }

 &.multiple-choice {
   .question-icon {
     margin: 6px auto 20px;
     background-color: rgba(255,255,255,.5);
     height: 100px;
     width: 100px;
     border-radius: 50px;
   }
 }


 /* Card Themes */

 &.light-blue {
   background-color: $light-blue;
   .item { color: white; }
 }

 &.dark-blue {
   background-color: $dark-blue;
   .item { color: white; }
 }
 &.purple {
   background-color: $purple;
   .item { color: white; }
 }
 &.light-teal {
   background-color: $light-teal;
   .item { color: white; }
 }
 &.pale-green {
   background-color: $pale-green;
   .item { color: $purple; }

   .quiz-answer {
     &.item:hover, &.col:hover { color: $light-teal; }
   }
 }
}

.bar-light {
    border-color: none;
    margin-top: 23px;
    font-family: quicksand;
    text-transform: uppercase;
}
.bar-light .title {
    color: #5a5386;
}



